article.pkm{
  display:flex;
  flex-direction:column;
  background-color:rgb(180, 180, 180);
  text-transform: capitalize;
  border-radius: 20px;
  padding:10px;
  color: black;
  .pkm-desc{
    width:200px;
    height:350px;
    border-radius:15px;
    padding:5px 0;
    box-shadow:0 3px 5px rgba(0,0,0,0.2);
    position:relative;
    p{
      display:flex;
      padding:0 5px;
      justify-content:space-between;
      .pkmName{
        text-decoration:underline;
      }
    }
    img{
      width:100%;
      z-index:10;
      transition:1s ease-out;
    }
    img:hover{
      z-index:10;
      transform:scale(1.2);
    }
    .stats{
      position:absolute;
      display:flex;
      width:100%;
      bottom:0;
      flex-direction:column;
      align-content:space-around;
      overflow: hidden;
    }
  }
}